In [1]:
import pandas as pd

charges_df = pd.read_csv('charges_data.csv')
personal_df = pd.read_csv('personal_data.csv')
plan_df = pd.read_csv('plan_data.csv')

In [2]:
charges_df.head(10)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
6,1452-KIOVK,22,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
7,6713-OKOMC,10,Month-to-month,No,Mailed check,29.75,301.90,No
8,7892-POOKP,28,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,62,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [14]:
34*56.95

1936.3000000000002

In [64]:
charges_df['monthlyCharges'].quantile(0.05)

19.7

In [65]:
charges_df['monthlyCharges'].quantile(0.95)

106.4

In [66]:
trimmed_mean = charges_df['monthlyCharges'][(charges_df['monthlyCharges'] > charges_df['monthlyCharges'].quantile(0.1))
                                            & (charges_df['monthlyCharges'] < charges_df['monthlyCharges'].quantile(0.9))].mean()

In [67]:
trimmed_mean

64.97170302178728

In [68]:
round(trimmed_mean)

65

In [12]:
charges_df['monthlyCharges'] = charges_df['monthlyCharges'].fillna(trimmed_mean)

In [13]:
charges_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   tenure            7032 non-null   int64
 2   contract          7032 non-null   object
 3   paperlessBilling  7032 non-null   object
 4   paymentMethod     7032 non-null   object
 5   monthlyCharges    7032 non-null   float64
 6   totalCharges      6577 non-null   float64
 7   churn             7032 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 439.6+ KB

In [17]:
charges_df['totalCharges'][charges_df['totalCharges'].isna()] = charges_df['monthlyCharges'][charges_df['totalCharges'].isna()] * charges_df['tenure'][charges_df['totalCharges'].isna()]

/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2710295875.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  charges_df['totalCharges'][charges_df['totalCharges'].isna()] = charges_df['monthlyCharges'][charges_df['totalCharges'].isna()] * charges_df['tenure'][charges_df['totalCharges'].isna()]
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2710295875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charges_df['totalCharges'][charges_df['totalCharges'].isna()] = charges_df['monthlyCharges'][charges_df['totalCharges'].isna()] * charges_df['tenure'][charges_df['totalCharges'].isna()]

In [19]:
charges_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   tenure            7032 non-null   int64
 2   contract          7032 non-null   object
 3   paperlessBilling  7032 non-null   object
 4   paymentMethod     7032 non-null   object
 5   monthlyCharges    7032 non-null   float64
 6   totalCharges      7032 non-null   float64
 7   churn             7032 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 439.6+ KB

In [24]:
charges_df.head(20)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.850000,29.850000,No,group1
1,5575-GNVDE,34,One year,No,Mailed check,56.950000,1889.500000,No,group2
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.850000,108.150000,Yes,group1
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.300000,1840.750000,No,group2
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.700000,151.650000,Yes,group1
5,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.650000,820.500000,Yes,group1
6,1452-KIOVK,22,Month-to-month,Yes,Credit card (automatic),89.100000,1949.400000,No,group1
7,6713-OKOMC,10,Month-to-month,No,Mailed check,29.750000,301.900000,No,group1
8,7892-POOKP,28,Month-to-month,Yes,Electronic check,104.800000,3046.050000,Yes,group2
9,6388-TABGU,62,One year,No,Bank transfer (automatic),56.150000,3487.950000,No,group4
10,9763-GRSKD,13,Month-to-month,Yes,Mailed check,49.950000,587.450000,No,group1
11,7469-LKBCI,16,Two year,No,Credit card (automatic),18.950000,326.800000,No,group1
12,8091-TTVAX,58,One year,No,Credit card (automatic),100.350000,5681.100000,No,group3
13,0280-XJGEX,49,Month-to-month,Yes,Bank transfer (automatic),103.700000,5036.300000,Yes,group3
14,5129-JLPIS,25,Month-to-month,Yes,Electronic check,105.500000,2686.050000,No,group2
15,3655-SNQYZ,69,Two year,No,Credit card (automatic),64.998474,4484.894737,No,group4
16,8191-XWSZG,52,One year,No,Mailed check,20.650000,1022.950000,No,group3
17,9959-WOFKT,71,Two year,No,Bank transfer (automatic),106.700000,7382.250000,No,group4
18,4190-MFLUW,10,Month-to-month,No,Credit card (automatic),55.200000,528.350000,Yes,group1
19,4183-MYFRB,21,Month-to-month,Yes,Electronic check,90.050000,1862.900000,No,group1

In [22]:
import numpy as np

In [23]:
charges_df['tenureBinned'] = pd.cut(charges_df['tenure'], bins = [0, 24, 48, 60, np.inf], labels = ['group1', 'group2', 'group3', 'group4'])

In [25]:
charges_df['customerID'].nunique()

7032

In [29]:
churn_pct = round((charges_df['customerID'][charges_df['churn'] == 'Yes'].count() * 100)/charges_df['customerID'].nunique())

In [30]:
churn_pct

27

In [32]:
merge_1 = pd.merge(charges_df, personal_df, how = 'inner', on = 'customerID')
merge_1.head(10)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,partner,dependents,age
0,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2,Male,No,No,41
1,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1,Male,No,No,58
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,No,No,61
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,No,No,66
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,No,No,87
5,1452-KIOVK,22,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No,group1,Male,No,Yes,39
6,6713-OKOMC,10,Month-to-month,No,Mailed check,29.75,301.90,No,group1,Female,No,No,39
7,7892-POOKP,28,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,group2,Female,Yes,No,38
8,6388-TABGU,62,One year,No,Bank transfer (automatic),56.15,3487.95,No,group4,Male,No,Yes,50
9,9763-GRSKD,13,Month-to-month,Yes,Mailed check,49.95,587.45,No,group1,Male,Yes,Yes,50

In [33]:
data_merged = pd.merge(merge_1, plan_df, how = 'left', on = 'customerID')
data_merged.head(10)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,...,age,phoneService,multipleLines,internetService,onlineSecurity,onlineBackup,deviceProtection,techSupport,streamingTV,streamingMovies
0,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2,Male,...,41,Yes,No,DSL,Yes,No,Yes,No,No,No
1,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1,Male,...,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,...,61,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,...,66,Yes,No,Fiber optic,No,No,No,No,No,No
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,...,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1452-KIOVK,22,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No,group1,Male,...,39,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No
6,6713-OKOMC,10,Month-to-month,No,Mailed check,29.75,301.90,No,group1,Female,...,39,No,No phone service,DSL,Yes,No,No,No,No,No
7,7892-POOKP,28,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,group2,Female,...,38,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes
8,6388-TABGU,62,One year,No,Bank transfer (automatic),56.15,3487.95,No,group4,Male,...,50,Yes,No,DSL,Yes,Yes,No,No,No,No
9,9763-GRSKD,13,Month-to-month,Yes,Mailed check,49.95,587.45,No,group1,Male,...,50,Yes,No,DSL,Yes,No,No,No,No,No

In [34]:
data_merged['customerID'].nunique()

5276

In [35]:
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5276 entries, 0 to 5275
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5276 non-null   object
 1   tenure            5276 non-null   int64
 2   contract          5276 non-null   object
 3   paperlessBilling  5276 non-null   object
 4   paymentMethod     5276 non-null   object
 5   monthlyCharges    5276 non-null   float64
 6   totalCharges      5276 non-null   float64
 7   churn             5276 non-null   object
 8   tenureBinned      5276 non-null   category
 9   gender            5276 non-null   object
 10  partner           5276 non-null   object
 11  dependents        5276 non-null   object
 12  age               5276 non-null   int64
 13  phoneService      3537 non-null   object
 14  multipleLines     3537 non-null   object
 15  internetService   3537 non-null   object
 16  onlineSecurity    3537 non-null   object
 17  onlineBackup      3537 non-null   object
 18  deviceProtection  3537 non-null   object
 19  techSupport       3537 non-null   object
 20  streamingTV       3537 non-null   object
 21  streamingMovies   3537 non-null   object
dtypes: category(1), float64(2), int64(2), object(17)
memory usage: 871.1+ KB

In [36]:
pct_60 = round((data_merged['customerID'][data_merged['age'] > 60].count() * 100) / data_merged['customerID'].nunique())
pct_60

42

In [43]:
data_merged[['customerID', 'internetService']].groupby(['internetService'], dropna = False).count()

                 customerID
internetService
DSL                    1197
Fiber optic            1577
No                      763
NaN                    1739

In [41]:
more_data = data_merged[['customerID', 'internetService']].groupby(['internetService'], dropna = False).count()

In [52]:
data1 = more_data['customerID']

In [53]:
data1

internetService
DSL            1197
Fiber optic    1577
No              763
NaN            1739
Name: customerID, dtype: int64

In [54]:
data1['DSL']

1197

In [56]:
data1.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, DSL to nan
Series name: customerID
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 236.0+ bytes

In [58]:
dict1 = {'DSL': data1['DSL'], 'Fiber optic': data1['Fiber optic'], 'No': data1['No'], 'NaN': data1[np.nan]}

In [59]:
dict1

{'DSL': 1197, 'Fiber optic': 1577, 'No': 763, 'NaN': 1739}

In [50]:
new_dict = dict(more_data['customerID'])

In [51]:
new_dict

{'DSL': 1197, 'Fiber optic': 1577, 'No': 763, nan: 1739}

In [69]:
data_train = pd.read_csv('data_train.csv')
data_test = pd.read_csv('data_test.csv')

In [74]:
data_train

,age,account,if_marital,if_default,if_housing,if_loan,if_active_selling,duration,label,occupation_cleaner,...,occupation_own-business,occupation_production,occupation_retired,occupation_services,occupation_student,occupation_technician,occupation_unemployed,education_primary,education_secondary,education_unknown
0,41,2408,no,no,no,no,no,122,0,no,...,no,no,no,no,no,no,no,no,no,no
1,59,4007,yes,no,no,no,no,157,0,no,...,no,no,yes,no,no,no,no,yes,no,no
2,35,482,yes,no,no,no,no,129,0,no,...,no,no,no,no,no,no,no,no,no,no
3,49,0,yes,no,yes,no,no,772,0,no,...,no,no,no,no,no,no,yes,no,no,no
4,23,834,no,no,yes,no,no,283,0,no,...,no,no,no,no,yes,no,no,no,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,24,-389,yes,no,yes,yes,yes,1242,1,no,...,no,yes,no,no,no,no,no,no,yes,no
4396,27,1977,no,no,yes,no,yes,449,1,no,...,no,no,no,no,no,yes,no,no,yes,no
4397,25,448,yes,no,no,no,yes,151,1,no,...,no,no,no,no,no,no,no,no,no,yes
4398,48,0,yes,no,no,no,no,20,0,yes,...,no,no,no,no,no,no,no,yes,no,no
4399,33,136,no,no,yes,no,no,30,0,no,...,yes,no,no,no,no,no,no,no,yes,no

In [76]:
column_names = data_train.select_dtypes(exclude = 'number').columns

In [77]:
for col in column_names:
    data_train[col][data_train[col] == 'yes'] = 1
    data_train[col][data_train[col] == 'no'] = 0

/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train[col][data_train[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/592283612.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value


In [78]:
data_train

,age,account,if_marital,if_default,if_housing,if_loan,if_active_selling,duration,label,occupation_cleaner,...,occupation_own-business,occupation_production,occupation_retired,occupation_services,occupation_student,occupation_technician,occupation_unemployed,education_primary,education_secondary,education_unknown
0,41,2408,0,0,0,0,0,122,0,0,...,0,0,0,0,0,0,0,0,0,0
1,59,4007,1,0,0,0,0,157,0,0,...,0,0,1,0,0,0,0,1,0,0
2,35,482,1,0,0,0,0,129,0,0,...,0,0,0,0,0,0,0,0,0,0
3,49,0,1,0,1,0,0,772,0,0,...,0,0,0,0,0,0,1,0,0,0
4,23,834,0,0,1,0,0,283,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,24,-389,1,0,1,1,1,1242,1,0,...,0,1,0,0,0,0,0,0,1,0
4396,27,1977,0,0,1,0,1,449,1,0,...,0,0,0,0,0,1,0,0,1,0
4397,25,448,1,0,0,0,1,151,1,0,...,0,0,0,0,0,0,0,0,0,1
4398,48,0,1,0,0,0,0,20,0,1,...,0,0,0,0,0,0,0,1,0,0
4399,33,136,0,0,1,0,0,30,0,0,...,1,0,0,0,0,0,0,0,1,0

In [79]:
for col in column_names:
    data_test[col][data_test[col] == 'yes'] = 1
    data_test[col][data_test[col] == 'no'] = 0

/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'no'] = 0
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test[col][data_test[col] == 'yes'] = 1
/var/folders/7n/vhqqpprn72g841mwdvmdbds40000gn/T/ipykernel_13823/2862964947.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value


In [81]:
data_train

,age,account,if_marital,if_default,if_housing,if_loan,if_active_selling,duration,label,occupation_cleaner,...,occupation_own-business,occupation_production,occupation_retired,occupation_services,occupation_student,occupation_technician,occupation_unemployed,education_primary,education_secondary,education_unknown
0,41,2408,0,0,0,0,0,122,0,0,...,0,0,0,0,0,0,0,0,0,0
1,59,4007,1,0,0,0,0,157,0,0,...,0,0,1,0,0,0,0,1,0,0
2,35,482,1,0,0,0,0,129,0,0,...,0,0,0,0,0,0,0,0,0,0
3,49,0,1,0,1,0,0,772,0,0,...,0,0,0,0,0,0,1,0,0,0
4,23,834,0,0,1,0,0,283,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,24,-389,1,0,1,1,1,1242,1,0,...,0,1,0,0,0,0,0,0,1,0
4396,27,1977,0,0,1,0,1,449,1,0,...,0,0,0,0,0,1,0,0,1,0
4397,25,448,1,0,0,0,1,151,1,0,...,0,0,0,0,0,0,0,0,0,1
4398,48,0,1,0,0,0,0,20,0,1,...,0,0,0,0,0,0,0,1,0,0
4399,33,136,0,0,1,0,0,30,0,0,...,1,0,0,0,0,0,0,0,1,0

In [82]:
data_train['label'].count()

4400

In [83]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4400 entries, 0 to 4399
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      4400 non-null   int64
 1   account                  4400 non-null   int64
 2   if_marital               4400 non-null   object
 3   if_default               4400 non-null   object
 4   if_housing               4400 non-null   object
 5   if_loan                  4400 non-null   object
 6   if_active_selling        4400 non-null   object
 7   duration                 4400 non-null   int64
 8   label                    4400 non-null   int64
 9   occupation_cleaner       4400 non-null   object
 10  occupation_management    4400 non-null   object
 11  occupation_own-business  4400 non-null   object
 12  occupation_production    4400 non-null   object
 13  occupation_retired       4400 non-null   object
 14  occupation_services      4400 non-null   object
 15  occupation_student       4400 non-null   object
 16  occupation_technician    4400 non-null   object
 17  occupation_unemployed    4400 non-null   object
 18  education_primary        4400 non-null   object
 19  education_secondary      4400 non-null   object
 20  education_unknown        4400 non-null   object
dtypes: int64(4), object(17)
memory usage: 722.0+ KB

In [84]:
prop = round(data_train['account'][data_train['label'] == 1].count()/data_train['label'].count(), 3)

In [94]:
onehot_train = data_train

In [98]:
onehot_train = onehot_train.drop(columns = ['label'])

In [99]:
onehot_train

,age,account,if_marital,if_default,if_housing,if_loan,if_active_selling,duration,occupation_cleaner,occupation_management,occupation_own-business,occupation_production,occupation_retired,occupation_services,occupation_student,occupation_technician,occupation_unemployed,education_primary,education_secondary,education_unknown
0,41,2408,0,0,0,0,0,122,0,1,0,0,0,0,0,0,0,0,0,0
1,59,4007,1,0,0,0,0,157,0,0,0,0,1,0,0,0,0,1,0,0
2,35,482,1,0,0,0,0,129,0,1,0,0,0,0,0,0,0,0,0,0
3,49,0,1,0,1,0,0,772,0,0,0,0,0,0,0,0,1,0,0,0
4,23,834,0,0,1,0,0,283,0,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,24,-389,1,0,1,1,1,1242,0,0,0,1,0,0,0,0,0,0,1,0
4396,27,1977,0,0,1,0,1,449,0,0,0,0,0,0,0,1,0,0,1,0
4397,25,448,1,0,0,0,1,151,0,1,0,0,0,0,0,0,0,0,0,1
4398,48,0,1,0,0,0,0,20,1,0,0,0,0,0,0,0,0,1,0,0
4399,33,136,0,0,1,0,0,30,0,0,1,0,0,0,0,0,0,0,1,0

In [106]:
onehot_test = data_test.drop(columns = ['label'])

In [107]:
onehot_test

,age,account,if_marital,if_default,if_housing,if_loan,if_active_selling,duration,occupation_cleaner,occupation_management,occupation_own-business,occupation_production,occupation_retired,occupation_services,occupation_student,occupation_technician,occupation_unemployed,education_primary,education_secondary,education_unknown
0,41,14968,1,0,0,0,0,1360,0,0,0,0,0,0,0,0,0,0,1,0
1,53,730,1,0,1,0,1,18,0,0,1,0,0,0,0,0,0,0,0,0
2,50,284,1,0,1,0,1,106,0,0,0,0,0,0,0,0,0,0,1,0
3,30,1103,1,0,1,1,0,148,0,0,0,0,0,0,0,1,0,0,0,0
4,52,10,1,0,0,1,0,72,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,45,5163,0,0,0,0,0,9,0,0,0,0,0,0,0,0,1,0,1,0
96,39,0,1,0,0,0,0,94,0,1,0,0,0,0,0,0,0,0,0,0
97,55,0,1,0,0,0,0,180,0,0,0,0,0,0,0,0,0,0,1,0
98,47,505,1,0,0,0,0,152,0,0,0,0,0,1,0,0,0,0,1,0
99,31,255,0,0,0,0,0,167,0,0,0,0,0,0,0,0,0,0,1,0

In [100]:
y_train = data_train['label']

In [104]:
onehot_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4400 entries, 0 to 4399
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      4400 non-null   int64
 1   account                  4400 non-null   int64
 2   if_marital               4400 non-null   object
 3   if_default               4400 non-null   object
 4   if_housing               4400 non-null   object
 5   if_loan                  4400 non-null   object
 6   if_active_selling        4400 non-null   object
 7   duration                 4400 non-null   int64
 8   occupation_cleaner       4400 non-null   object
 9   occupation_management    4400 non-null   object
 10  occupation_own-business  4400 non-null   object
 11  occupation_production    4400 non-null   object
 12  occupation_retired       4400 non-null   object
 13  occupation_services      4400 non-null   object
 14  occupation_student       4400 non-null   object
 15  occupation_technician    4400 non-null   object
 16  occupation_unemployed    4400 non-null   object
 17  education_primary        4400 non-null   object
 18  education_secondary      4400 non-null   object
 19  education_unknown        4400 non-null   object
dtypes: int64(3), object(17)
memory usage: 687.6+ KB

In [101]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(max_depth = 10, random_state = 0, n_estimators = 30, class_weight = {0: prop, 1: 1-prop})
rf_model.fit(onehot_train, y_train)

RandomForestClassifier(class_weight={0: 0.116, 1: 0.884}, max_depth=10,
                       n_estimators=30, random_state=0)

In [102]:
rf_model.feature_importances_

array([0.13194299, 0.1428988 , 0.02246332, 0.00214261, 0.06525449,
       0.01738045, 0.03127598, 0.47442466, 0.00610883, 0.01164918,
       0.0064998 , 0.0152186 , 0.01224854, 0.00883829, 0.00605226,
       0.01059773, 0.00388553, 0.01249266, 0.01378262, 0.00484266])

In [105]:
from sklearn.metrics import recall_score

In [109]:
y_pred = rf_model.predict(onehot_test)

In [ ]:
y_pred

100

In [112]:
y_proba = rf_model.predict_proba(onehot_test)

In [113]:
y_proba

array([[0.46323407, 0.53676593],
       [0.93186816, 0.06813184],
       [0.92653657, 0.07346343],
       [0.81349746, 0.18650254],
       [0.93152439, 0.06847561],
       [0.90049686, 0.09950314],
       [0.64943929, 0.35056071],
       [0.94384429, 0.05615571],
       [0.35756616, 0.64243384],
       [0.83695795, 0.16304205],
       [0.85237399, 0.14762601],
       [0.32592557, 0.67407443],
       [0.58608237, 0.41391763],
       [0.86209882, 0.13790118],
       [0.6771095 , 0.3228905 ],
       [0.91122271, 0.08877729],
       [0.93197468, 0.06802532],
       [0.92275391, 0.07724609],
       [0.89676582, 0.10323418],
       [0.65874446, 0.34125554],
       [0.78138999, 0.21861001],
       [0.84613764, 0.15386236],
       [0.47478833, 0.52521167],
       [0.82421155, 0.17578845],
       [0.94915106, 0.05084894],
       [0.90602906, 0.09397094],
       [0.25344992, 0.74655008],
       [0.66869464, 0.33130536],
       [0.49383945, 0.50616055],
       [0.87429708, 0.12570292],
       [0.9787549 , 0.0212451 ],
       [0.83285319, 0.16714681],
       [0.86992033, 0.13007967],
       [0.7144294 , 0.2855706 ],
       [0.96582119, 0.03417881],
       [0.77569662, 0.22430338],
       [0.7912556 , 0.2087444 ],
       [0.92751483, 0.07248517],
       [0.29776361, 0.70223639],
       [0.90165106, 0.09834894],
       [0.2066069 , 0.7933931 ],
       [0.96007162, 0.03992838],
       [0.74263236, 0.25736764],
       [0.47359797, 0.52640203],
       [0.82316384, 0.17683616],
       [0.86199886, 0.13800114],
       [0.33380005, 0.66619995],
       [0.91711224, 0.08288776],
       [0.96057968, 0.03942032],
       [0.67299864, 0.32700136],
       [0.84267923, 0.15732077],
       [0.39369317, 0.60630683],
       [0.39239632, 0.60760368],
       [0.89511768, 0.10488232],
       [0.89638783, 0.10361217],
       [0.94260963, 0.05739037],
       [0.95491342, 0.04508658],
       [0.53496136, 0.46503864],
       [0.43079419, 0.56920581],
       [0.92249132, 0.07750868],
       [0.5509682 , 0.4490318 ],
       [0.96389929, 0.03610071],
       [0.20048027, 0.79951973],
       [0.85852642, 0.14147358],
       [0.89991485, 0.10008515],
       [0.96053408, 0.03946592],
       [0.84345179, 0.15654821],
       [0.83735299, 0.16264701],
       [0.64750631, 0.35249369],
       [0.92285936, 0.07714064],
       [0.92717728, 0.07282272],
       [0.8070672 , 0.1929328 ],
       [0.45254328, 0.54745672],
       [0.69998786, 0.30001214],
       [0.7708597 , 0.2291403 ],
       [0.94397131, 0.05602869],
       [0.61350313, 0.38649687],
       [0.4850294 , 0.5149706 ],
       [0.81622312, 0.18377688],
       [0.62935912, 0.37064088],
       [0.39082256, 0.60917744],
       [0.94082755, 0.05917245],
       [0.99059024, 0.00940976],
       [0.31268663, 0.68731337],
       [0.94953631, 0.05046369],
       [0.91107048, 0.08892952],
       [0.38264164, 0.61735836],
       [0.94145824, 0.05854176],
       [0.55972608, 0.44027392],
       [0.90244742, 0.09755258],
       [0.70810326, 0.29189674],
       [0.70998601, 0.29001399],
       [0.22979581, 0.77020419],
       [0.74446523, 0.25553477],
       [0.90979467, 0.09020533],
       [0.86422864, 0.13577136],
       [0.92757027, 0.07242973],
       [0.80405646, 0.19594354],
       [0.83970145, 0.16029855],
       [0.75907381, 0.24092619]])

In [114]:
list1 = []
for i in range(100):
    list1.append(y_proba[i][0])

In [115]:
list1

[0.4632340714914057,
 0.9318681627791776,
 0.926536572524741,
 0.8134974633040307,
 0.9315243878474917,
 0.9004968577991271,
 0.6494392878711376,
 0.9438442899460969,
 0.35756616128660784,
 0.8369579513927403,
 0.8523739935186402,
 0.32592557399863603,
 0.5860823742156692,
 0.8620988215713526,
 0.677109500461492,
 0.9112227076458004,
 0.9319746816179985,
 0.9227539068513877,
 0.8967658182042215,
 0.6587444561503243,
 0.7813899944417979,
 0.8461376432856798,
 0.4747883293521848,
 0.8242115497836754,
 0.9491510577832913,
 0.9060290587016004,
 0.2534499171020499,
 0.6686946354041382,
 0.4938394527588803,
 0.8742970830193328,
 0.9787548984673655,
 0.832853187817024,
 0.8699203333045443,
 0.7144293997516535,
 0.965821191354673,
 0.7756966157059655,
 0.7912555982646435,
 0.9275148325069579,
 0.2977636133446857,
 0.9016510626792594,
 0.2066068959298318,
 0.9600716238061495,
 0.7426323643514343,
 0.4735979733694746,
 0.823163843011433,
 0.861998855391027,
 0.3338000503980852,
 0.9171122433803721,
 0.9605796792461878,
 0.6729986411748514,
 0.8426792316447645,
 0.39369317438796625,
 0.3923963175345921,
 0.895117676400165,
 0.8963878293607708,
 0.9426096347596811,
 0.9549134219002469,
 0.5349613639755707,
 0.43079418659424934,
 0.9224913224596436,
 0.5509681980261587,
 0.9638992890841374,
 0.2004802695973614,
 0.8585264247989557,
 0.8999148511183185,
 0.9605340834110431,
 0.843451785032434,
 0.837352988774983,
 0.6475063081582079,
 0.9228593572779406,
 0.9271772767262194,
 0.8070672007674181,
 0.4525432822656753,
 0.6999878641154792,
 0.770859695605507,
 0.9439713092511691,
 0.6135031304892725,
 0.4850293965521744,
 0.8162231158991705,
 0.6293591217569422,
 0.39082256234925866,
 0.9408275513580755,
 0.9905902389696098,
 0.31268663467960783,
 0.9495363123932843,
 0.9110704750643548,
 0.382641636974205,
 0.9414582372616215,
 0.5597260755442297,
 0.9024474200675293,
 0.7081032592054755,
 0.7099860142747025,
 0.22979580709233052,
 0.744465232981067,
 0.909794671029291,
 0.8642286388020296,
 0.9275702663104559,
 0.8040564597696396,
 0.8397014537644009,
 0.7590738105560583]

In [116]:
d = {'Index': range(100), 'Probability': list1}
df_new = pd.DataFrame(d)

In [117]:
df_new

    Index  Probability
0       0     0.463234
1       1     0.931868
2       2     0.926537
3       3     0.813497
4       4     0.931524
..    ...          ...
95     95     0.864229
96     96     0.927570
97     97     0.804056
98     98     0.839701
99     99     0.759074

[100 rows x 2 columns]

In [121]:
df_new = df_new.sort_values('Probability')

In [122]:
final_l = df_new['Index'].to_list()

In [123]:
final_l

[62,
 40,
 92,
 26,
 38,
 83,
 11,
 46,
 8,
 86,
 80,
 52,
 51,
 58,
 72,
 0,
 43,
 22,
 77,
 28,
 57,
 60,
 88,
 12,
 76,
 79,
 68,
 6,
 19,
 27,
 49,
 14,
 73,
 90,
 91,
 33,
 42,
 93,
 99,
 74,
 35,
 20,
 36,
 97,
 71,
 3,
 78,
 44,
 23,
 31,
 9,
 67,
 98,
 50,
 66,
 21,
 10,
 63,
 45,
 13,
 95,
 32,
 29,
 53,
 54,
 18,
 64,
 5,
 39,
 89,
 25,
 94,
 85,
 15,
 47,
 59,
 17,
 69,
 2,
 70,
 37,
 96,
 4,
 1,
 16,
 81,
 87,
 55,
 7,
 75,
 24,
 84,
 56,
 41,
 65,
 48,
 61,
 34,
 30,
 82]